#groups-landing {
  margin: 0 -15px;

  .group-landing-block {
    > .aspect-content {
      padding: 7% 7% 7% 7%;
    }
  }

  .group-landing-header {
    display: inline-block;
    margin-bottom: 2%;
    color: #231F20;
    font-size: 2.2vw;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;

    &::after {
      display: block;
      width: 100%;
      content: '';
      background: #231F20;
      height: 2px;
    }
  }

  .group-landing-content {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.9vw;
    line-height: 1.5;
  }

  #groups-landing-get-in {
    position: relative;
    @include aspect-ratio(187, 100);
    width: 100%;
    background-color: blue;
    background: url(//crds-cms-uploads.imgix.net/content/images/groups-landing/headerbg.jpg) top no-repeat;
    background-size: cover;

    img {
      display: block;
      width: 70%;
      margin: 20% auto 0 auto;
    }

    button {
      margin-top: 8%;
      background-color: white;
      text-transform: uppercase;
    }

  }

  #groups-landing-relationships {
    @include aspect-ratio(443, 433);
    background-color: white;
    color: #939598;

    .videoWrapper {
      margin-top: 8%;
      margin-bottom: 5%;
    }
  }
  
g  #groups-landing-leader {
    background-color: lightblue;
  }
  
  #groups-landing-onsite {
    background-color: lightgray;
  }

  #groups-landing-resources {
    background-color: white;
  }

  #groups-landing-faqs {
    background-color: lightgray;
  }

  #groups-landing-help {
    background-color: white;
  }
}