//
// Boostrap grid with no columns
//
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

//
// Groups Landing page
//
#groups-landing {
  margin: 0 -15px;
  
  $group-landing-dark-text: #231F20;
  $group-landing-light-text: #939598;
  $group-landing-border: $group-landing-light-text;

  $group-landing-margin: 4%;
  $group-landing-push: 6%;

  $group-landing-margin-mobile: 6%;
  $group-landing-push-mobile: 8%;

  .group-landing-push-bottom {
    margin-bottom: $group-landing-push;

    @media (max-width: $screen-sm) {
      margin-bottom: $group-landing-push-mobile;
    }
  }

  .group-landing-push-half-bottom {
    margin-bottom: $group-landing-push / 2;

    @media (max-width: $screen-sm) {
      margin-bottom: $group-landing-push-mobile / 2;
    }
  }

  .group-landing-mobile-push-half-bottom {
    @media (max-width: $screen-sm) {
      margin-bottom: $group-landing-push-mobile / 2;
    }
  }

  .group-landing-center {
    margin-left: auto;
    margin-right: auto;
  }

  .group-landing-button {
    //@extend .btn-sm;

    background-color: transparent;
    border-radius: 5px;
    border-color: $group-landing-border;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }

  .group-landing-section {
    padding: $group-landing-margin;
  }

  .group-landing-block, .group-landing-block > .aspect-content {
    margin: $group-landing-margin auto;
    //padding: $group-landing-margin;

    @media (max-width: $screen-sm) {
      margin: $group-landing-margin-mobile auto;
    }
    //
    //&::after, &::before {
    //  content: '';
    //  clear: both;
    //}
  }

  .group-landing-header {
    display: inline-block;
    margin-bottom: 2%;
    color: $group-landing-dark-text;
    font-size: 2.2vw;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;

    @media (max-width: $screen-sm) {
      margin-bottom: 4%;
      font-size: 4.2vw;
    }

    &::after {
      display: block;
      width: 100%;
      content: '';
      background: $group-landing-dark-text;
      height: 2px;
    }
  }

  .group-landing-content {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    //margin-bottom: $group-landing-margin;
    color: $group-landing-light-text;
    font-size: 2.9vw;
    line-height: 1.5;

    @media (max-width: $screen-sm) {
      font-size: 6vw;
    }
  }

  .group-landing-subcontent {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    //margin-bottom: $group-landing-margin;
    color: $group-landing-light-text;
    font-size: 2vw;
    text-align: left;
    line-height: 1.3;

    @media (max-width: $screen-sm) {
      font-size: 5vw;
    }
  }

  .group-landing-faq-term {
    color: $group-landing-light-text;
    font-size: 2.9vw;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 5px;

    @media (max-width: $screen-sm) {
      font-size: 6vw;
    }
  }

  .group-landing-faq-definition {
    color: $group-landing-light-text;
    font-size: 2vw;
    line-height: 1.3;
    text-align: left;

    @media (max-width: $screen-sm) {
      font-size: 5vw;
    }
  }

  //
  // Section Specific Settings
  //

  #groups-landing-get-in {
    position: relative;
    @include aspect-ratio(187, 100);
    width: 100%;
    background: url(//crds-cms-uploads.imgix.net/content/images/groups-landing/headerbg.jpg) top no-repeat;
    background-size: cover;

    .aspect-content {
      padding-top: 20%;
    }

    img {
      display: block;
      width: 70%;
    }

    button {
      background-color: white;
    }

  }

  #groups-landing-relationships {
    background-color: white;
  }
  
  #groups-landing-leader {
    background-color: #DBE0E5;

    img {
      width: 100%;
    }
  }
  
  #groups-landing-onsite {
    background-color: #F1F2F2;
  }

  #groups-landing-resources {
    position: relative;
    background-color: white;

    p {
      position: absolute;
      top: 12%;
      left: 0;
      right: 52%;
      bottom: 50%;
      font-size: 1.5vw;
      text-align: left;
      text-transform: uppercase;

      @media (max-width: $screen-sm) {
        font-size: 3vw;
      }
    }

    img {
      width: 100%;
    }
  }

  #groups-landing-faqs {
    background-color: #F1F2F2;
  }

  #groups-landing-help {
    background-color: white;
  }
}